body {
    text-align: center;
    background-color: rgb(204, 204, 204);
}


/* 
.game-instructions {
}

.game-instructions p {
}

.game-title {
}

.key-controls {
}

body button {
} */

#game-board {
    padding: 20px;
}

#canvas {
    border: 1px solid black;
    background-image: url(../images/parkingLot2.PNG);
    background-size: cover;
}